<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../content/css/base.css">
    <link rel="stylesheet" href="../content/css/home.css">
    <link rel="stylesheet" href="../content/css/jquery.mCustomScrollbar.min.css">
    <script src="../content/js/jquery-2.1.0.min.js"></script>
    <script src="../content/js/jquery.mCustomScrollbar.concat.min.js"></script>
</head>
<body>

<!--头部区域-->
<div class="headArea">

    <!--系统名称-->
    <div class="titleArea">
        <span class="title">智能营销平台<span class="version">V6.0</span></span>
    </div>
    <!--系统名称-->

    <!--消息区域-->
    <div class="messageArea">
        <div class="rows message"><span class="number">5</span><span class="title">消息</span></div>
        <div class="rows triangle"><span class="number">5</span><span class="title">警告</span></div>
        <div class="rows help"><span class="number">5</span><span class="title">帮助</span></div>
    </div>
    <!--消息区域-->

    <!--天气区域-->
    <div class="weatherArea">
        <span class="date">2016年5月25日</span>
        <div class="split"></div>
        <span class="time">15:30:24 PM</span>
        <div class="split"></div>
        <span class="weatherState">晴</span>
    </div>
    <!--天气区域-->

   <div class="right">

       <!--用户区域-->
       <div class="userArea">
           <img src="../content/images/userPhoto.png" alt="" class="userPhoto">
           <span class="userName">Hi,Tang YN</span>
       </div>
       <!--用户区域-->

       <!--用户头像点击框-->
       <div class="userAreaBox">
           <div class="head">
               <img src="../content/images/userPhoto.png" alt="" class="userPhoto">
               <span class="userName">Tang YN</span>
           </div>
           <a href="javascript:void(0);" class="outBtn">退出</a>
       </div>
       <!--用户头像点击框-->

       <!--设置区域-->
       <div class="settingArea">
           <span class="setting">设置</span>
       </div>
       <!--设置区域-->


   </div>

</div>
<!--头部区域-->

<!--左部菜单区域-->
<div class="leftArea">

    <!--搜索区域-->
    <div class="searchArea">
        <div class="mark"></div>
        <img src="../content/images/search.png" alt="" class="searchIcon">
        <input type="text" class="search" placeholder="搜索栏目">
    </div>
    <!--搜索区域-->

    <!--菜单区域-->
    <div class="rows">
        <div class="mark"></div>
        <span class="title">此处显示标题</span>
        <div class="column">
            <span class="title">客户群</span>
            <div class="arow"></div>
            <div class="contentArea">
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
                <span class="content">客户群
                </span>
            </div>
        </div>
        <div class="column">
            <span class="title">客户群</span>
            <div class="arow"></div>
            <div class="contentArea">
                <span class="content">客户群
                </span>
            </div>
        </div>
    </div>

    <div class="rows">
        <div class="mark"></div>
        <span class="title">此处显示标题</span>
        <div class="column">
            <span class="title">客户群</span>
            <div class="arow"></div>
            <div class="contentArea">
                <span class="content">客户群
                </span>
            </div>
        </div>
        <div class="column">
            <span class="title">客户群</span>
            <div class="contentArea">
                <span class="content">客户群
                </span>
            </div>
        </div>
    </div>

    <div class="rows">
        <div class="mark"></div>
        <span class="title">此处显示标题</span>
        <div class="column">
            <span class="title">客户群</span>
            <div class="arow"></div>
            <div class="contentArea">
                <span class="content">客户群
                </span>
            </div>
        </div>
        <div class="column">
            <span class="title">客户群</span>
            <div class="arow"></div>
            <div class="contentArea">
                <span class="content">客户群
                </span>
            </div>
        </div>
    </div>
    <!--菜单区域-->

</div>
<!--左部菜单区域-->

<!--右部区域-->
<div class="rightArea">

    <!--头部定位区域-->
    <div class="head">
        <span class="title">当前位置:</span>
        <div class="locationArea">
            <span class="location">Home</span>
        </div>
    </div>
    <!--头部定位区域-->

    <!--内容区域-->
    <div class="content">
        <iframe src="https://www.baidu.com">

        </iframe>
    </div>
    <!--内容区域-->

</div>
<!--右部区域-->


<script src="../content/js/home.js"></script>
</body>
</html>