<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资源管理平台--登录</title>
    <link rel="stylesheet" href="../content/css/base.css">
    <link rel="stylesheet" href="../content/css/login.css">
</head>
<body>
<!--登录页面背景区域-->
<div class="loginArea">
    <!--登录框区域-->
    <div class="enterBox">
        <div class="head">
            <span class="title">智能营销平台<span class="version">V6.0</span></span>
        </div>
        <!--输入框区域-->
        <div class="content">
            <div class="rows">
                <span class="title">用户名</span>
                <input type="text">
            </div>
            <div class="rows">
                <span class="title">密码</span>
                <input type="text">
                <img src="../content/images/keyboard.png" alt="键盘">
            </div>
            <div class="bottom">
                <input type="checkbox" class="learnUserName"><span class="title">记住用户名</span>
                <a href="javascript:void(0);" class="loginBtn">登录</a>
            </div>
        </div>
        <!--输入框区域-->
    </div>
    <!--登录框区域-->
</div>
<!--登录页面背景区域-->
</body>
</html>