/*头部区域*/
body>.headArea{

    padding: 0;

    margin: 0;

    box-sizing: border-box;

    height: 68px;

    background-color: #405a92;

    color: white;

    z-index: 3;

    position: relative;
}

/*名称系统*/
body>.headArea>.titleArea{

    overflow: hidden;

    padding: 0;

    box-sizing: border-box;

    margin: 9px 0 0 10px;

    float: left;
}
body>.headArea>.titleArea>.title{

    font-size: 31px;
}
body>.headArea>.titleArea>.title>.version{

    font-size: 12px;

    margin-left: 4px;

    padding: 1px 2px;

    background-color: #324a70;
}
/*名称系统*/

/*消息区域*/
body>.headArea>.messageArea{

    float: left;

    overflow: hidden;

    padding: 0;

    box-sizing: border-box;
}
body>.headArea>.messageArea>.rows{

    overflow: hidden;

    padding: 0;

    margin: 12px 0 0 0px;

    box-sizing: border-box;

    float: left;

    width: 51px;

    height: 48px;

    position: relative;

    background-position: 50% 21% !important;

    cursor: pointer;
}
body>.headArea>.messageArea>.rows>.number{

    background-color: red;

    border-radius: 42px;

    position: absolute;

    width: 20px;

    text-align: center;

    height: 20px;

    right: 1px;

    top: 0px;
}
body>.headArea>.messageArea>.rows>.title{

    position: absolute;

    bottom: 0;

    display: block;

    text-align: center;

    width: 100%;
}
body>.headArea>.messageArea>.message{

    background: url(../images/msg.png) no-repeat;
}
body>.headArea>.messageArea>.triangle{

    background: url(../images/triangle.png) no-repeat;
}
body>.headArea>.messageArea>.help{

    background: url(../images/help.png) no-repeat;
}
/*消息区域*/

/*天气区域*/
body>.headArea>.weatherArea{

    float: left;

    overflow: hidden;

    padding: 0 41px 0 29px;

    margin: 17px 15px 0 8px;

    background-color: #2c3c5f;

    height: 38px;

    border-radius: 39px;

    box-sizing: border-box;
}
body>.headArea>.weatherArea>.date{

    float: left;

    display: block;

    overflow: hidden;

    box-sizing: border-box;

    padding: 0 0 0 31px;

    margin: 0;

    height: 38px;

    font-size: 15px;

    line-height: 38px;

    background: url(../images/date.png) no-repeat;

    background-position: 2px;
}
body>.headArea>.weatherArea>.split{

    float: left;

    box-sizing: border-box;

    overflow: hidden;

    padding: 0;

    border-left: 1px solid white;

    height: 15px;

    margin: 11px 0 0 33px;
}
body>.headArea>.weatherArea>.time{

    float: left;

    overflow: hidden;

    display: block;

    padding: 0;

    margin: 0 0 0 31px;

    font-size: 15px;

    height: 38px;

    line-height: 38px;
}
body>.headArea>.weatherArea>.weatherState{

    float: left;

    height: 38px;

    line-height: 38px;

    display: block;

    font-size: 15px;

    margin-left: 24px;

    padding: 0 32px 0 0;

    background: url(../images/sun.png) no-repeat;

    background-position: 100%;

    background-size: 25px;
}
/*天气区域*/

body>.headArea>.right{

    overflow: hidden;

    float: right;

    box-sizing: border-box;

    padding: 0;

    margin: 0 21px 0 0;

    height: 68px;
}

/*用户区域*/
body>.headArea>.right>.userArea{overflow: hidden;margin: 0;padding: 0;box-sizing: border-box;height: 68px;float: left;}
body>.headArea>.right>.userArea>.userPhoto{

    width: 43px;

    margin: 12px 0;

    float: left;
}
body>.headArea>.right>.userArea>.userName{

    height: 68px;

    line-height: 68px;

    margin-left: 15px;

    font-size: 14px;

    display: block;

    padding-right: 13px;

    background: url(../images/downtriangle.png) no-repeat;

    float: left;

    background-position: 100%;

    cursor: pointer;
}
/*用户区域*/

/*用户头像点击框*/
body>.headArea>.right>.userAreaBox{

    position: absolute;

    z-index: 3;

    top: 73px;

    width: 223px;

    background-color: white;

    overflow: hidden;

    right: 87px;

    border-radius: 12px;
    display: none;
}
body>.headArea>.right>.userAreaBox>.head{

    background-color: #405a92;

    overflow: hidden;
}
body>.headArea>.right>.userAreaBox>.head>.userPhoto{

    display: block;

    width: 43px;

    height: 43px;

    margin: 17px auto 0 auto;

    overflow: hidden;
}
body>.headArea>.right>.userAreaBox>.head>.userName{

    display: block;

    margin: 16px 0;

    text-align: center;

    font-size: 17px;
}
body>.headArea>.right>.userAreaBox>.outBtn{

    display: block;

    float: left;

    box-sizing: border-box;

    padding: 6px 40px;

    border: 1px solid #ccc;

    color: #666666;

    letter-spacing: 1px;

    margin: 14px 57px;

}
body>.headArea>.right>.userAreaBox>.outBtn:hover{

    background-color: #405a92;

    color: white;
}
/*用户头像点击框*/

/*设置区域*/
body>.headArea>.right>.settingArea{float: left;overflow: hidden;padding: 0;box-sizing: border-box;margin: 0 0 0 30px;}
body>.headArea>.right>.settingArea>.setting{

    height: 68px;

    line-height: 68px;

    display: block;

    margin: 0;

    padding: 0;

    overflow: hidden;

    box-sizing: border-box;

    padding-left: 23px;

    background: url(../images/settings.png) no-repeat;

    background-position: 0 50%;

    letter-spacing: 1px;

    cursor: pointer;

    font-size: 14px;
}
/*设置区域*/

/*头部区域*/



/*左部菜单区域*/
body>.leftArea{

    overflow: hidden;

    position: absolute;

    top: 0;

    left: 0;

    padding-top: 68px;

    background: -moz-linear-gradient(top, #355290 0%, #bdc3ca 100%);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#355290), color-stop(100%,#bdc3ca));

    background: -webkit-linear-gradient(top, #355290 0%,#bdc3ca 100%);

    background: -o-linear-gradient(top, #355290 0%,#bdc3ca 100%);

    background: -ms-linear-gradient(top, #355290 0%,#bdc3ca 100%);

    background: linear-gradient(to bottom, #355290 0%,#bdc3ca 100%);

    box-sizing: border-box;

    bottom: 0;

    width: 230px;

    z-index: 1;

    padding-bottom: 12px;
}
body>.leftArea>div>div>*{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
}
body>.leftArea>div>div>*>.mark{

    position: absolute;

    top: 0;

    bottom: 0;

    background-color: #324969;

    width: 100%;

    opacity: 0.5;

    border-radius: 8px;
}
/*搜索区域*/
body>.leftArea>div>div>.searchArea{

}
body>.leftArea>div>div>.searchArea>.searchIcon{

    position: relative;

    margin: 14px 0 0 14px;

    display: block;

    box-sizing: border-box;

    float: left;

    width: 19px;

    height: 14px;
}
body>.leftArea>div>div>.searchArea>.search{

    display: block;

    float: left;

    box-sizing: border-box;

    padding: 0 15px;

    margin: 0;

    position: relative;

    width: 166px;

    height: 38px;

    background-color: transparent;

    border: 0;

    color: white;
}
/*搜索区域*/

/*菜单区域*/
body>.leftArea>div>div>.rows{

    margin-top: 12px;

    padding: 9px 0;
}
body>.leftArea>div>div>.rows>.title{

    position: relative;

    overflow: hidden;

    padding: 4px 10px;

    margin: 9px 0 0 9px;

    box-sizing: border-box;

    background-color: #334866;

    border-radius: 14px;

    color: #dce0e5;

    cursor: default;
}
body>.leftArea>div>div>.rows>.column{

    position: relative;

    width: 90%;

    margin: 12px auto 0 auto;

    overflow: hidden;
}
body>.leftArea>div>div>.rows> :nth-child(n+4){

    margin-top: 7px;
}
body>.leftArea>div>div>.rows>.column>.title{

    background: url(../images/mail.png) no-repeat 0;

    padding-left: 28px;

    display: block;

    margin-left: 7px;

    color: #dce0e5;

    background-size: 16px;

    cursor: pointer;
}
body>.leftArea>div>div>.rows>.column>.arow{

    margin: 2px 0px 0 49px;

    background-size: 100% 100%;

    width: 11px;

    height: 3px;

    background: url(../images/arow.png) no-repeat;
}
body>.leftArea>div>div>.rows>.column>.contentArea{margin: 0px 0px 0 34px;background-size: 100% 100%;padding: 4px 17px 5px 17px;background-color: #364a6e;border-radius: 6px;}
body>.leftArea>div>div>.rows>.column>.contentArea>.content{

    color: #dce0e5;

    cursor: pointer;

    display: block;

    padding: 0;

    margin: 6px 0;
}
/*菜单区域*/

/*左部菜单区域*/




/*右部区域*/
body>.rightArea{

    position: absolute;

    top: 0;

    bottom: 0;

    padding: 68px 0 0 230px;

    width: 100%;

    overflow: hidden;

    box-sizing: border-box;
}

/*头部定位区域*/
body>.rightArea>.head{

    height: 36px;

    overflow: hidden;

    box-sizing: border-box;

    padding: 0 0 0 36px;

    margin: 0;

    background: url(../images/targeting.jpg) no-repeat;

    background-size: 36px 36px;

    background-color: whitesmoke;

    z-index: 2;

    position: relative;
}
body>.rightArea>.head>.title{

    box-sizing: border-box;

    overflow: hidden;

    display: block;

    height: 36px;

    float: left;

    line-height: 36px;

    font-size: 13px;

    color: #666666;

    cursor: default;
}
body>.rightArea>.head>.locationArea{

    float: left;

    display: block;

    overflow: hidden;

    box-sizing: border-box;

    margin: 8px 5px;

    background-color: white;
}
body>.rightArea>.head>.locationArea>.location{

    color: #666666;

    font-size: 13px;

    display: block;

    float: left;

    overflow: hidden;

    box-sizing: border-box;

    padding: 0 6px 0 10px;

    background: url(../images/greytriangle.png) no-repeat;

    background-position: 0 50%;

    margin-left: 7px;

    cursor: pointer;
}
/*头部定位区域*/

/*内容区域*/
body>.rightArea>.content{

    position: absolute;

    top: 0;

    left: 0;

    padding: 104px 0 0 264px;

    bottom: 0;

    width: 100%;

    background-color: whitesmoke;

    overflow: hidden;

    box-sizing: border-box;
}
body>.rightArea>.content>.contentShowArea{
    position: absolute;
    top: 102px;
    right: 0;
    left: 261px;
    bottom: 6px;
    box-sizing: border-box;
    border: 0;
    background: transparent;
}
body>.rightArea>.content>.contentShowArea >iframe{

    width: 100%;

    height: 100%;
}
/*内容区域*/

/*右部区域*/